.app {
    height: 200px;
    width: 250px;

    padding: 1rem .5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #282c34;
    color: white;
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.optionsContainer {
    margin-bottom: 2rem;
}

.container {
    margin-bottom: 1rem;
}

.masterPasswordInput {
    width: 5rem;
}

.passwordLengthInput {
    width: 2rem;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}